<form #loginForm="ngForm" (ngSubmit)="loginForm.valid && login()">
  <div class="form-group">
    <label for="username">Username</label>
    <input type="text" class="form-control" [ngClass]="{ 'is-invalid': username.invalid && username.touched }"
      id="username" [(ngModel)]="model.username" name="username" required #username="ngModel">
    <span class="invalid-feedback">Username can't be blank.</span>
  </div>

  <div class="form-group">
    <label for="password">Password</label>
    <input type="password" class="form-control" id="password"
      [ngClass]="{ 'is-invalid': password.invalid && password.touched }" [(ngModel)]="model.password" name="password"
      required #password="ngModel">
    <span class="invalid-feedback">Password can't be blank.</span>
  </div>

  <button [disabled]="loginForm.invalid" class="btn btn-primary">Login</button>
  <button type="button" [routerLink]="['/register']" class="btn btn-success float-right">Register</button>
</form>